<p id="notice"><%= notice %></p>

<p>
  <strong>Rut:</strong>
  <%= @paciente.rut %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @paciente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @paciente.apellido %>
</p>

<p>
  <strong>Fechanac:</strong>
  <%= @paciente.fechanac %>
</p>

<p>
  <strong>Email:</strong>
  <%= @paciente.email %>
</p>

<p>
  <strong>Fono:</strong>
  <%= @paciente.fono %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
