<p id="notice"><%= notice %></p>

<h1>Ninjas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Dojo</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @ninjas.each do |ninja| %>
      <tr>
        <td><%= ninja.nombre %></td>
        <td><%= ninja.apellido %></td>
        <td>
            <% @dojos.each do |dojo| %>
                <% if dojo.id == ninja.dojo_id %>
                  <%= dojo.nombre %>
                <% end %>
            <% end %>
        </td>
        <td><%= link_to 'Mostrar', ninja %></td>
        <td><%= link_to 'Editar', edit_ninja_path(ninja) %></td>
        <td><%= link_to 'Eliminar', ninja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ninja', new_ninja_path %>
