<p id="notice"><%= notice %></p>

<h1>Agendas</h1>

<table>
  <thead>
    <tr>
      <th>Fagenda</th>
      <th>Hagenda</th>
      <th>Profesional</th>
      <th>Centro</th>
      <th>Paciente</th>
      <th>Horario</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agendas.each do |agenda| %>
      <tr>
        <td><%= agenda.fagenda %></td>
        <td><%= agenda.hagenda %></td>
        <td><%= agenda.profesional_id %></td>
        <td><%= agenda.centro_id %></td>
        <td><%= agenda.paciente_id %></td>
        <td><%= agenda.horario_id %></td>
        <td><%= agenda.usuario_id %></td>
        <td><%= link_to 'Show', agenda %></td>
        <td><%= link_to 'Edit', edit_agenda_path(agenda) %></td>
        <td><%= link_to 'Destroy', agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agenda', new_agenda_path %>
