<div class="container">
    <div class="row bg-info p-2 justify-content-center">
        <div class="col-4">
            <label class="form-label">Usuario:</label>&nbsp;
            <input type="text" name="nombre" value="Natalia Bordones" class="form-control" readonly>
        </div>
        <div class="col-4">
            <label class="form-label">Clinica:</label>&nbsp;
            <input type="text" name="clini" value="Clinica Sin dientes" class="form-control" readonly>
        </div>        
    </div>
    <div class="row bg-info p-2 justify-content-center">
        <div class="col-1">
            <button id="izq" class="btn btn-primary"><<</button>
        </div>
        <div class="col-4">
            <label class="form-label">Profesional:</label>&nbsp;
            <input type="text" name="profe" value="Gael Franco" class="form-control" readonly>            
        </div>
        <div class="col-4">
            <label class="form-label">Especialidad:</label>&nbsp;
            <input type="text" name="Espe" value="Maxilo" class="form-control" readonly>
        </div>        
        <div class="col-1">
            <button id="der" class="btn btn-primary">>></button>
        </div>
    </div>
    <div class="row bg-info p-2 justify-content-center">
    <table class="table table-primary table-auto table-bordered">
        <thead>
            <tr class="table-secondary">
                <th class="table-secondary thn">Hora</th>
                <% for i in 0..6 %>
                    <th class="table-secondary">
                        <%= @dias[i] %>   
                    </th>    
                <% end %>                    
            </tr>
        </thead>
        <tbody>
            <% for i in 0..33 %>
                <tr>
                <td class="table-secondary thn">
                    <%= @tabla[i][0]['ha'] %>
                </td>
                <% for j in 0..6 %>
                    <% if i % 2 == 0 %>
                    <td class="table-info tdn">
                        <%= @tabla[i][j]['nom'] %>
                        <% if @tabla[i][j]['dis'] %>
                            <% if @tabla[i][j]['nom'].empty? %>
                                <%= image_tag('add.png', :class => 'add') %>
                            <% else %>
                                <%= image_tag('abajo.png', :class => 'abajo') %>    
                            <% end %>
                        <% end %>
                        </td>                                    
                    <% else %>
                        <td class="table-primary tdn">
                            <%= @tabla[i][j]['nom'] %>
                            <% if @tabla[i][j]['dis'] %>
                                <% if @tabla[i][j]['nom'].empty? %>
                                    <%= image_tag('add.png', :class => 'add') %>
                                <% else %>
                                    <%= image_tag('abajo.png', :class => 'abajo') %>    
                                <% end %>
                            <% end %>
                        </td>                                    
                    <% end %>
                <% end %>
                </tr>
            <% end %>                
        </tbody>
    </table>
    </div>
    <hr>
    <div class="pie">
        <p> ©Copyright(2021) Giovanni Franco Calfiqueo.</p>
    </div>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">

        </div>
    </div>
   
</div>