<p id="notice"><%= notice %></p>

<p>
  <strong>Rutayuda:</strong>
  <%= @horario.rutayuda %>
</p>

<p>
  <strong>Hentrada:</strong>
  <%= @horario.hentrada %>
</p>

<p>
  <strong>Hsalida:</strong>
  <%= @horario.hsalida %>
</p>

<p>
  <strong>Box:</strong>
  <%= @horario.box %>
</p>

<p>
  <strong>Profesional:</strong>
  <%= @horario.profesional_id %>
</p>

<p>
  <strong>Centro:</strong>
  <%= @horario.centro_id %>
</p>

<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
